body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
html,
body,
#root {
  height: calc(100% + 1px);
  overflow-y: hidden;
} */
.logsContainer div div div:first-child {
  min-width: 18px;
}

.logsContainer div div div:first-child:not(.icon) {
  color: white !important;
}

.consoleInputContainer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.9);
  background-color: transparent;
  border-right: none;
  margin-bottom: 0;
  padding-left: 10px;
  box-sizing: border-box;
  vertical-align: top;
  box-sizing: border-box;
  font-family: Consolas, Lucida Console, Courier New, monospace;
  white-space: pre-wrap;
  font-size: 12px;
  width: 100%;

  border-top: 1px solid rgba(255,255,255,0.03);
  border-bottom: 1px solid rgba(255,255,255,0.03);
  margin-top: -1px;
}

.consoleInputContainer input {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-family: Consolas, Lucida Console, Courier New, monospace;
  font-size: 12px;
  white-space: pre-wrap;
  height: 20px;
  margin-left: 13px;
}

div[data-method="command"] .linkified {
  text-decoration: none;
  color: inherit;
  cursor: text;
}